<footer class="main-footer">
    <nav class="main-footer__nav">
        <div>
            <h3>Novi Sad, Sutjeska 2, Spens</h3>
            <h3>Telefon: 065 977 4000</h3>
            <h3>Email: office@jokercaffebar.com</h3>
        </div>
        <ul class="main-footer__item-list">
            <li class="main-footer__item">
                <a class="<%= path === '/uslovi-koriscenja' ? 'active' : '' %>" href="/uslovi-koriscenja">Uslovi Korišćenja</a>
            </li>
            <li class="main-footer__item">
                <a class="<%= path === '/politika-privatnosti' ? 'active' : '' %>" href="/politika-privatnosti">Politika Privatnosti</a>
            </li>
        </ul>
        <div>
            <h3>© 2025 Joker Caffe Bar</h3>
            <h3>Napravio Arius Systems</h3>
            <h3>PIB: 100154658</h3>
        </div>
    </nav>
</footer> 
<script src="/js/navigation.js"></script>
</body>
</html>