<%- include('../include/head.ejs') %>
<%- include('../include/navigation.ejs') %>

<main class="main__container">
    <div class=" container">
        <h1 class="main__title">Politika privatnosti</h1>
        <p>
            Joker Caffe Bar poštuje vašu privatnost i posvećen je zaštiti vaših ličnih podataka.
          </p>
          <ul>
            <li>Naša kontakt forma služi isključivo za primanje poruka i upita korisnika.</li>
            <li>Uneti podaci (ime, e-mail, telefon, poruka) se automatski prosleđuju putem e-maila i <strong>ne čuvaju se</strong> u bazi podataka.</li>
            <li>Ne koristimo kolačiće, analitiku niti bilo kakvo automatsko prikupljanje podataka.</li>
            <li>Vaši podaci se neće deliti, prodavati, niti koristiti u marketinške svrhe bez vašeg izričitog pristanka.</li>
            <li>Imate pravo da nas kontaktirate i zatražite uvid ili brisanje svih informacija koje ste nam poslali.</li>
          </ul>
          <p>
            Korišćenjem sajta potvrđujete da ste saglasni sa ovom politikom privatnosti.
          </p>
    </div>
</main>

<%- include('../include/end.ejs') %>
