<%- include('../include/head.ejs') %>
<%- include('../include/navigation.ejs') %>

<main class="main__container">
    <div class="container">
        <h1 class="main__title">Uslovi korišćenja</h1>
        <p>
            Dobrodošli na sajt Joker Caffe Bar! Korišćenjem ovog sajta prihvatate sledeće uslove korišćenja:
        </p>
        <ul>
            <li>Ovaj sajt je isključivo informativnog karaktera i namenjen je predstavljanju naših ponuda i usluga.</li>
            <li>Korisnici mogu pregledati sadržaj, preuzeti PDF ponude i poslati poruku putem kontakt forme.</li>
            <li>Ne prikupljamo lične podatke u bazu, niti koristimo korisničke naloge.</li>
            <li>Svi upiti se šalju direktno putem e-maila i koriste se isključivo za odgovaranje na poruke korisnika.</li>
            <li>Autorska prava nad sadržajem, dizajnom i logom pripadaju Joker Caffe Baru i ne smeju se kopirati bez dozvole.</li>
            <li>Zadržavamo pravo izmene sadržaja sajta i uslova korišćenja bez prethodne najave.</li>
        </ul>
        <p>
            Korišćenjem sajta potvrđujete da ste pročitali i razumeli ove uslove.
        </p>
    </div>
</main>

<%- include('../include/end.ejs') %>
